{% extends 'base.html.twig' %}

{% block title %}Modifier des utilisateurs{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateurs</h1>
    {{ include ('admin/users/_form.html.twig', {form : userform, button: 'Editer'} )}}
{% endblock %}
