<div class="container bg-white" style="border-radius: 50px" >   
            <div class="row">
                <div class="col-md-1 col-xs-12 col-sm-6 col-lg-1"></div>
				<div class="col-md-10 col-xs-12 col-sm-6 col-lg-10">
			    	<div class="container" >
                        <h2>Panne</h2>
                    </div>
					<table class="table">
						<tr>
							<th>Description de la panne</th>
							<th>Pièces requises</th>
							<th>Prise en charge par</th>
							<th>Etat de la panne</th>
							<th>Editer</th>
						</tr>
						{# {% for panne in dossier.materiel.pannes %} #}
						{% for panne in pannes %}
							
							<tr>
								<td>{{ panne.description}} </td>
								<td> 
									{{ panne.piece.libelle }}	
								</td>
								<td></td>
								<td>
									{% if panne.etat == false %}
										à traiter
									{% elseif panne.etat == true %}
										traitée
									{% endif %}
								</td>
								<td><p class="text-center"><a class="h3" href=""><i class="fa fa-pencil-square-o"></i></p></a></td>
							</tr>
							
						{% endfor %}
					</table>
				</div>

                <div class="col-md-1 col-xs-12 col-sm-6 col-lg-1">
                       
                </div>  
            </div>
        </div>