{% extends 'base.html.twig' %}

{% block title %}Dépôt de matériel{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <h1>Dépôt de matériel</h1>
    </div>
    {# formulaire entité matériel #}
    {{ include ('admin/depotmateriel/materiel/_form.html.twig', {form : matform, button: 'Suivant'} )}}

{% endblock %}
