<div class="container bg-white" style="border-radius: 50px" >   
            <div class="row">
                <div class="col-md-1 col-xs-12 col-sm-6 col-lg-1"></div>
                <div class="col-md-10 col-xs-12 col-sm-6 col-lg-10">
                    <div class="container" >
                        <h2></h2>
                    </div>
                    <table class="table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Estimation</th>
								<th>Accompte</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td> {{dossier.type}}</td>
								<td> {{dossier.estimation}}</td>
								<td> {{dossier.acompte}}</td>
								
							</tr>
						</tbody>
					</table>
                </div> 
                <div class="col-md-1 col-xs-12 col-sm-6 col-lg-1">
					<div class="container">
                        <div class="row">
							<a class="display-4" href=""><i class="fa fa-pencil-square-o"></i></a>
                        </div>
                    </div>   
				</div>  
            </div>
        </div>